<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contrat de location</h1>

    Entre les soussignés:

    <ul>
        <li>Le propriétaire, co-après dénommé "le propriétaire"</li>
        <li>le locataire, {{ contrat.prenom }} {{contrat.nom}}, ci-après dénommé "le locataire" </li>
    </ul>

    Il est convenu et arrêté ce qui suit :
    <ul>
        <li>1. Objet du contrat : le pro....,du {{contrat.dateDebut|date('d/m/Y') }} </li>
        <li>2. Loyer: ......{{contrat.loyer}} € </li>
        <li>3. Caution :  .... {{contrat.caution}} </li>
        <li>4. Utilisation du logement: .... </li>
        <li>5. Entretien du logement: ..... </li>
        <li>6. Durée et renouvellement : .... {{contrat.dateDebut|date('d/m/Y') }} et {{contrat.dateFin|date('d/m/Y') }} </li>
    </ul>
    
</body>
</html>